.div-perfil{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
}



.micuenta{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin: 0 70px;
    margin-bottom: 300px;
    align-items: center;
    justify-content: center;

}

