.letrasPago{
    text-align: center;
    color: white;
    margin: 10px 10px;
}

.paypal{
   margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 300px;
}

.contedorPrincipal{
    margin-top: 100px;
}