.cards-wrap{
 display: grid;
 grid-template-columns: repeat(4, 1fr); 
 grid-gap: 15px; 
 margin-top: 3rem;
 margin-left: 2rem;
 margin-right: 2rem;

}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 4rem;
}
   
.card:hover{
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(245, 242, 242, 0.562) ;
    background-color: #ccc;
} 